@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

* {
    font-family: Source Sans Pro, sans-serif;
}

body {
    max-width: 24em;
    margin: 0 auto;
    text-align: center;
}

form {
    margin: 2em 0;
}

table {
    margin: 2em 0;
}

th {
    text-align: center;
}
